.logo-button img {
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0;
    background-color: white;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5) !important;
    transition: background-color 0.5s ease;
    border-radius: 0 0 15px 15px;
}

.navbar-toggler {
    background-color: white;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-brand {
    color: white;
}

.blur-background {
    filter: blur(5px);
    transition: filter 0.5s ease;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s ease-in-out;
}

#overlay.show {
    visibility: visible;
    opacity: 1;
}

#welcome-text {
    font-size: 2.5rem;
    color: white;
    z-index: 1100;
}

main {
    background-image: url('images/unnamed-7-819x1024.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 300vh;
    padding-top: 60px;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.arrow-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.arrow {
    width: 0px;
    height: 0px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid white;
    animation: arrow-bounce 2s infinite;
}

@keyframes arrow-bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}

.hide {
    opacity: 0;
    visibility: hidden;
}