.logo-button img {
    width: 80px;
    height: 80px;
    background-color: white;
}

.logo-button {
    border: none;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5) !important;
    transition: background-color 0.5s ease;
    border-radius: 0 0 15px 15px;
}

.navbar-toggler {
    background-color: white;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-brand {
    color: white;
}

.blur-background {
    filter: blur(5px);
    transition: filter 0.5s ease;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s ease-in-out;
}

#overlay.show {
    visibility: visible;
    opacity: 1;
}

#welcome-text {
    font-size: 2.5rem;
    color: white;
    z-index: 1100;
}

main {
    background-image: url('images/unnamed-7-819x1024.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 300vh;
    padding-top: 200px;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.hide {
    opacity: 0;
    visibility: hidden;
}

.map-container {
    display: flex;
    justify-content: center;  
    align-items: center;  
    height: auto;   
    padding: 80px 20px;       
}

.map-box {
    overflow: hidden;
    resize: none;
    width: 100%;
    height: 0;
    border-radius: 20px; 
    padding-bottom: 100%; 
position: relative;
}

#embed-map-canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.map-iframe {
    height: 100%;
    width: 100%;
    border: 0;
    border-radius: 20px;  
}

@media (max-width: 768px) {
    .map-box {
        padding-bottom: 75%; 
    }
}

@media (max-width: 576px) {
    .map-box {
        padding-bottom: 56.25%; 
    }
}

.contact-info {
    background-color: navy;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.contact-info h2 {
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.contact-info {
    margin: 10px 0;
    color: white;
    text-align: center;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}


.info-box {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}
.info-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: navy;
}

.info-box ul {
    list-style-type: disc;
    margin-left: 20px;
}

.bg-light {
    background-color: #f8f9fa !important;
}

#academic-programs ul,
#student-life ul,
#alumni-success ul {
    padding-left: 20px;
}

#academic-programs ul li,
#student-life ul li,
#alumni-success ul li {
    margin-bottom: 10px;
}

footer {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 0 0 15px 15px;
}

#kean-logo {
margin-top: -90px;
}

.carousel {
    max-width: 600px;
    margin: auto;
    border-radius: 15px;
}

.caorusel-item img {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}